*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(48, 1fr);
    width: 100vw;
    height: 100vh;
}

.menu{
    background: rgb(223, 223, 223);
    border-top: 5px solid rgb(46, 46, 66);
    border-bottom: 5px solid rgb(33, 96, 117);
    grid-column: span 48;
    grid-row: 1;
}

.logo{
    padding-top: 20px;
    padding-left: 20px;
    top:50%;
}

.button{
    color: #032b38;
    text-decoration: none;
    padding-left: 20px;
}

.buttons{
    text-align: right;
    top:-45%;
    padding-right: 25px;
    position: relative;
    grid-column: span 48;
    grid-row: 2;
}

.banner{
    background: rgb(23, 23, 73);
    border-bottom: 50px solid black;
    grid-column: span 48;
    grid-row: 2;
    display:grid;
}

.banner-title{
    color: white;
    grid-column: 2;
    grid-row: 1 / 48;
    padding-top: 50px;
    line-height: 30px;
    font-size: 26px;
}

.banner-text{
    color: white;
    padding-top: 100px;
    grid-column: 2;
    grid-row: 1 / 48;
    padding-right: 25px;
}

.banner-img{
    padding: 10px 30px;
    padding-right: 10px;
    grid-column: 1;
    grid-row: 1 / 48;
}

.info{
    grid-column: span 48;
    grid-row: 3;
    display: grid;
    margin-top: 10px;
}

.slider1{
    margin-left: 50%;
    grid-column: span 1;
    grid-row: 1 / 48;
    max-width: 50%;
}

.slider2{
    margin: 0px 25%;
    grid-column: span 1;
    grid-row: 1 / 48;
    max-width: 50%;
}

.slider3{
    grid-column: span 1;
    grid-row: 1 / 48;
    max-width: 50%;
}

.slider-link{
    margin-left: 5%;
}

.slider-link-color{
    color: black;
    text-decoration: none;
}

.slider-text{
    padding: 10px 0px;
}

.footer{
    height: 30px;
    color: white;
    grid-column: span 48;
    grid-row: 4;
    display: grid;
    border: solid rgb(27, 27, 104);
    background: rgb(27, 27, 104);
    top:50%;
    text-align: center;
    padding-top: 6px;
    margin-top: 25px;
}

h2{
    font-size: 20px;
    line-height: 22px;
}

.autos{
    display: grid;
    grid-column: span 48;
    grid-row: 2;
    text-align: center;
    background: rgb(85, 126, 173);
}

.auto1{
    margin-left: 50%;
    width: 50%;
    grid-column: span 1;
    grid-row: 2 / 48;
}

.auto1-title{
    font-size: 20px;
    line-height: 22px;
}

.auto1-text{

}

.auto1-img{
    width:100%;
}

.auto2{
    margin: 0px 25%;
    width: 50%;
    grid-column: span 1;
    grid-row: 2 / 48;
}

.auto2-title{
    font-size: 20px;
    line-height: 22px;
}

.auto2-text{

}

.auto2-img{
    width:100%;
}

.auto3{
    margin-right: 50px;
    padding-right:50px;
    width: 50%;
    grid-column: span 1;
    grid-row: 2 / 48;
}

.auto3-title{
    font-size: 20px;
    line-height: 22px;
}

.auto3-text{

}

.auto3-img{
    width:100%;
}

.title{
    padding: 10px 0px;
    grid-column: span 48;
    grid-row: 1;
    line-height: 30px;
    font-size: 26px;
    background: lightblue;
}

.body{
    background: rgb(85, 126, 173);
}

.kleding{
    display: grid;
    grid-column: span 48;
    grid-row: 2;
    text-align: center;
    background: rgb(85, 126, 173);
}

.kleding1{
    margin-left: 50%;
    width: 50%;
    grid-column: span 1;
    grid-row: 2 / 48;
}

.kleding1-img{
    max-width: 100%;
    max-height: 100%;
}

.kleding1-text{

}

.kleding1-title{

}

.kleding2{
    margin: 0px 25%;
    width: 50%;
    grid-column: span 1;
    grid-row: 2 / 48;
}

.kleding2-img{
    max-width: 100%;
    max-height: 100%;
}

.kleding2-title{

}

.kleding2-text{

}

.kleding3{
    margin-right: 50px;
    padding-right:50px;
    width: 50%;
    grid-column: span 1;
    grid-row: 2 / 48;
}

.kleding3-img{
    max-width: 100%;
    max-height: 100%;
}

.kleding3-title{

}

.kleding3-text{

}